<div class="bg-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="" title="Ir para o início">
          <img
            src="http://www.alliedbrasil.com.br/img/logo-header.png"
            alt=""
            width="120"
            h
          />
        </a>
      </div>
      <div class="col-9">Desafio Allied BR - Collins Freitas</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
